{% extends "base.html" %}

{% load django_bootstrap %}

{% block title %}form{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% bootstrap_form form exclude="dessert" %}
            <h2>And what would you like for dessert?</h2>
            {% bootstrap_field form.dessert option_inline=True show_label=False %}
            <input type="submit" class="btn btn-success">
        </form>
    </div>
{% endblock %}